<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6" align="right">
            小区名称:
        </div>
        <div class="col-xs-6" align="left">
            <input type="text" ng-model="area.name">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" align="right">
            客服电话:
        </div>
        <div class="col-xs-6" align="left">
            <input type="text" ng-model="area.serviceNumber">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" align="right">
            <button type="button" class="btn btn-primary" ng-click="doConfig()">提交</button>
        </div>
        <div class="col-xs-6" align="left">
        </div>
    </div>
</div>